.username-input-container {
  height: 39px;
  width: 240px;
}

#username-input {
  font-size: 16px;
}

.sub-button {
  height: 39px;
  width: 120px;
  font-size: 14px;
  border: 1px solid black;
  background-color: lightgrey;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 0 15px;
  margin-left: 10px;
}

/*********************************************************/
#game-page {
  display: grid;
  grid-template-columns: 28vw 48vw 13vw;
  column-gap: 3vw;
  grid-template-areas: "sidebar main timer-block";
  justify-content: center;
  margin-top: 40px;
}

.sidebar {
  display: flex;
  grid-area: sidebar;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  grid-area: main;
}

.timer-block {
  display: flex;
  grid-area: timer-block;
  flex-direction: column;
  align-items: center;
}
.quote-display {
  margin-bottom: 1rem;
  margin-left: calc(1rem + 2px);
  margin-right: calc(1rem + 2px);
}

.quote-input {
  background-color: transparent;
  border: 2px solid #a1922e;
  outline: none;
  width: 100%;
  height: 15rem;
  margin: auto;
  resize: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.quote-input:focus {
  border-color: black;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
  text-decoration: underline;
}

.indicator {
  width: 2em; /* поддерживаются любые единицы, в том числе проценты */
  margin: 1em auto;
  border-radius: 50%;
}

.indicator::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
}
.user-ready{
  background-color: darkgreen;
}

.user-dont-ready{
  background-color: red;
}

.racing_user-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.user-name {
  color: black;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: "Arial Black";
  font-weight: 700;
}

.progress-indicator {
  width: 100%;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 100%;
  background-color: green;
}

.hidden{
  visibility: hidden;
}

.timer {
  color: black;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: "Arial Black";
  font-weight: 700;
}